{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
  <a href="/devices/new">Create one</a>
{% endblock %}

{% block content %}
  {% if (devices.length) %}
    <h4 class="muted">
      {{devices.length}} devices.&nbsp;
    </h4>
    {% for device in devices %}
      {% include 'device.html' %}
    {% endfor %}

    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No devices.&nbsp;
    </h4>
  {% endif %}
{% endblock %}
