{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
  <a href="/applications/new">Create one</a>
{% endblock %}

{% block content %}
  {% if (applications.length) %}
    <h4 class="muted">
      {{applications.length}} applications.&nbsp;
    </h4>
    {% for application in applications %}
      {% include 'application.html' %}
    {% endfor %}

    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No applications.&nbsp;
    </h4>
  {% endif %}
{% endblock %}
